/* Global */
button span {
  pointer-events: none; /* fixes buttons not firing when click target is the 'span' child */
}

/* Properties */
@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

/* Vue transitions */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: opacity .3s cubic-bezier(0,.65,.35,1), transform .3s cubic-bezier(0,.65,.35,1);
}
.slide-fade-enter-from, .slide-fade-leave-to {
  opacity: 0;
  transform: translateY(16px);
}

.page-enter-active {
  transition: opacity .3s cubic-bezier(0,.65,.35,1), transform .3s cubic-bezier(0,.65,.35,1);
}
.page-enter-from, .page-leave-to {
  opacity: 0;
}
.page-enter-from {
  transform: translateX(32px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s cubic-bezier(0,.65,.35,1);
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

/* Animations */
.animate-progress-bar {
  animation-name: progress-bar;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /*
   * Add an animation delay so that cached routes
   * will not trigger this animation
   */
  animation-delay: 100ms;
}
.animate-text-chroma {
  animation-name: text-chroma;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.animate-bg-chroma {
  animation-name: bg-chroma;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.animate-border {
  animation: border 8s linear infinite;;
}
.animate-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* Keyframes */
@keyframes progress-bar {
  from {
    transform: translateX(-100%);
    /* Override initial opacity value */
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    /* Override initial opacity value */
    opacity: 1;
  }
}
@keyframes text-chroma {
  0% { color: #cba6f7 }
  25% { color: #89b4fa }
  50% { color: #94e2d5 }
  75% { color: #f9e2af }
  100% { color: #f38ba8 }
}
@keyframes bg-chroma {
  0% { background-color: #cba6f7 }
  25% { background-color: #89b4fa }
  50% { background-color: #94e2d5 }
  75% { background-color: #f9e2af }
  100% { background-color: #f38ba8 }
}
@keyframes border {
  to { --border-angle: 360deg }
}
@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0) }
  20%, 80% { transform: translate3d(2px, 0, 0) }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0) }
  40%, 60% { transform: translate3d(4px, 0, 0) }
}